<div class="firstname">
   {{Name.Title}} {{Name.Last}}, how are we doing? Is our product satifying the needs of 
   {{Company}} as well as you had hoped? If you have any questions/concerns, feel free to conact 
   me at {{Representative.Email}} or {{Representative.Phone}}<br>
   Sincerly,<br><br>
   {{Respresentative.Name.First}} {{Representative.Name.Last}}<br>
   {{Representative.Title}}
</div>